@charset "utf-8";
/* CSS Document */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*@font-face {font-family:"Merriweather Bold"; src:url("fonts/Merriweather-Bold.ttf") format("truetype"); font-weight: normal;font-style: normal;}
@font-face {font-family:"Merriweather Regular"; src:url("fonts/Merriweather-Regular.ttf") format("truetype"); font-weight: normal;font-style: normal;}
*/

/* apply a natural box layout model to all elements */
body{
	margin: 0px;
}
.pez-container,.pez-container:before,.pez-container:after, .pez-container *,.pez-container  *:before,.pez-container *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
.pez-unselectable{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none; 
 }

 .pez-container{

	margin:10px auto; left:0; right:0;

 	height:auto; min-height: 850px; display: block;

 	width:97%;
 	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
 	padding: 20px;
 	position: relative;
 	font-family: "Arial";
 	
 	overflow: hidden;
 }


/* BITS */

/* COMMON */

.pez-preloader{
	width:100%; height: 230px;
	background: url('vic-ani-small.gif') no-repeat center #FFF;
	position: absolute; left:0; z-index: 10;
	display: none;
}
.pez-middle-float{
	position: relative; display: block;
	margin: 0 auto; left: 0; right:0;
}
.pez-section{
	width: 100%; display: block; position: relative;
	max-width: 940px;
	margin: 0 auto;
}
.pez-top-area{
	height: 500px;
	border-bottom: dashed 1px #999999; 
}
.pez-left-column, .pez-right-column{
	width: 49%; height: 100%; display: block;
	position: relative; float: left;
}
.pez-left-column{
	float: left;
}
.pez-right-column{
	float: right;
}
.pez-top-data-box{
	width: 100%; height: 450px; display: block; position: relative;
	margin-top: 15px;
}

.top-text{
	width: 100%;
	font-size: 16px;
	margin: 15px 0px;
	text-align: center;
	font-family: "Merriweather Regular";
	color:#666;
}
.pez-heading{
	width: 100%;
	height: 55px;
	background-color: #fff;
	font-family: "Merriweather Bold";
	text-align: center;
	padding: 4px;
	color: #333;
	font-size: 32px;
	margin-bottom: 20px;
	border-bottom:1px dotted #999;
}
#pez_mob_text{
		display: none;
	}
.pez-deets-error{
	color:#E22105;
}
.pez-field-holder{
	width: 100%;
	height: 50px;
	display: block;
	position: relative;
}
 .styled-select {
   width: 100%;
	height: 34px;
	overflow: hidden;
	background: url('drop-btn.gif') no-repeat scroll right center #FFF;
	border-radius: 3px;
	border: 1px solid #CCCDC5;
	display: block;
	cursor: pointer;
	margin: 0px auto 10px auto;
	left: 0px;
	right: 0px;
}
.styled-select select {
   background: transparent;
   width: 106%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   cursor: pointer;
   font-family: "Merriweather Regular";
}

.pez-deets-dropdown{
	width:100%;
	height: 35px;
}

.pez-deets-box{
	height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #CCCDC5;
	display: block;
	float: left;
	margin-right:20px;
	padding: 5px;
}
.pez-deets-box input{
	width: 100%; height: 100%;
	border: none;
	outline:none;
	font-size: 14px;
	color: #949494;
	font-family: "Merriweather Regular";
}
.pez-deets-box input.middle:focus {
    border: none; outline:none;
}
#pez_number input{
	text-align: center;
}
#pez_mobile_fields{
	display: none;
	height: 80px;
}

.pez-small-text{
	font-size: 10px;
	color: #ACAEA2;
	line-height: 10px;
}
.pez-submit{
	width: 46px; height: 46px; margin-top:-6px; display:block; float:left;
	background: url(submit.png) center no-repeat;
	cursor: pointer;
}
/* Mobile fields */
#pez_mobile_submit_btn{
	width: 11%;
	height: 46px;
	float: right;
	background-size: contain;
}
#pez_mobile_address{
	width: 87%;
	margin-right: 0px !important;
}

/* LOWER AREA */
.pez-lower-area{
	height: auto;
	padding: 10px 0px;
}
.pez-data-overlay{
	width:100%; height: 100%;
	position: absolute; top:0; left:0;
	z-index: 10;
	background: no-repeat center top #FFF;
	background-size: contain;
}
.pez_overlayText{
	font-family: Merriweather,georgia,serif;
	width: 280px;
	height: 85px;
	margin: auto;
	top: 129px;
	left: 0px;
	right: 0px;
	position: relative;
	color: #777;
	overflow: hidden;
	display: block;
	text-align: center;
}
#pez_ElectorateBox {
	width:98%;
	max-width:620px;
	padding:20px;
	font-family:arial,sans-serif;
	color:#333;

}

#pez_electName{
	font-family: Merriweather,georgia,serif;
	font-size: 40px;
}
.pez_topStat{
	width: 100%;
	height: 24px;
	display: block;
	font-size: 15px;
	overflow: hidden;
}
.pez_grey{
	color:#999999;
}
#pez_ElectorateBox  h4 {
	font-family:Merriweather,georgia, serif;
	font-size:18px;
	margin:25px 0 10px 0;
	border-bottom:2px solid #000;
}

#pez_perCentCounted {
	float:right;
}
#pez_dec {
	font-weight:bold;
	text-transform:uppercase;
}

.pez_tableScroll{
	width: 100%; height: 250px;
	display: block; position: relative;
	margin-top: 45px !important;
}
.pez_candiTable{
	width:100%; height: auto; display: block;
	font-size: 13px;
}
.pez_row{
	width: 100%; height: 25px; display: block; text-align: center;
}
.pez_topRow{
	background-color: #31b5ff; color:#FFF;
}
.pez_greyRow{
	background-color: #e1f0f2;
}
.pez_col{
	width:15%; height: 100%; display: block; float: left; padding:3px 2px 2px 2px;
}
.pez_nameCol{
	width: 55% !important; text-align: left; font-weight: bold;
	padding-left: 10px !important;
	overflow: hidden;
}
#pez_topStats {
	width: 50%;
	border: 1px dotted #999;
	padding: 4px 12px;
	float: left;
	height: 30px;
	overflow: hidden;
}
#pez_status {
	width: 100%;
	color: #FFF;
	background-color: #6A5B5B;
	float: left;
	display: block;
	height: 30px;
	padding: 4px;
	margin: 4px 0px 13px 0px;
}
.pez_labor{
	background-color:#B30104 !important
}
.pez_liberal{
	background-color:#0252AD !important
}
.pez_indie{
	background-color:#999 !important
}
.pez_green{
	background-color:#1D8601 !important
}
.pez_circleholder,.pez_chartholder{
	width:310px; height: 120px;
	display: block; position: relative;
	margin: 13px auto 0 auto; left:0; right:0;
}
#pez_chart_legend{
	padding-left: 20px;
}
.pez_e_legend h5{
	font-size: 15px;
	margin: 0 0 5px 0;

}

/*
.pez_numCircle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background-color: #727272;
	border: 7px solid #f2f2f2;
	color: #fff;
	text-align: center;
	font: 24px Arial, sans-serif;
	vertical-align: middle;
	line-height:14px !important;
	display: block; float:left;
	}
.pez_leftCircle{
	padding: 25px 14px;
	margin-right:70px;
}
.pez_rightCircle{
	padding: 5px 14px;
}
*/

.pez_chartBlock{
	width:120px;
	height: 120px;
	display: block; float:left;
	position: relative;
}
.pez_relChart{
	width: 50px; height: 50px;
}
.pez_e_legend{
	font-weight: bold;
	font-size: 15px;
	width: 160px;
	height: 118px;
	display: block;
	float: left;
	margin-left: 22px;
	margin-top: 12px;
}
#pez_e_stats ul {
	list-style-type:square;
	display:inline-block;
}

.pez_numCircle small{
	font-size:14px;

}
#pez_swing, #pez_swingNeeded{
	margin:10px 0 0 0;
	display:block
}
@media screen and (max-width: 800px){
	.pez-left-column{
		width: 100%;
	}
	.pez-right-column{
		display: none;
	}
	#pez_mobile_fields{
		display: block;
	}
	#pez_map_text{
		display: none;
	}
	#pez_mob_text{
		display: inline;
	}
	.pez-top-area{
		height: 610px;
	}
	.pez-top-data-box{
		margin-top: 25px;
	}
}

@media screen and (max-width: 600px) {
	.pez-heading{
		font-size: 19px;
	padding-top: 9px;
	}
	.pez-container{
	 	margin: 0;
	 	box-shadow: none;
	 }
	.styled-select select {
  		width: 100%;
	}
 	.styled-select {
  	 	width: 100%;
		background: transparent;
		margin:0px;
	}
	.pez_candiTable{
		font-size: 12px;
	}
	#pez_electName{
		font-size: 30px;
	}
	#pez_status{
		height: 40px;
		padding: 10px 5px;
		font-size: 12px;
	}
	#pez_topStats{
		height: 40px;
		font-size:12px;
	}
	.pez_topStat{
		font-size: 13px;
	}
	.pez-top-data-box{
		height: auto;
	}
	.pez_leftCircle{
		margin-right: 43px;
	}
	.pez-data-overlay {
    	width: 110%;
	}
	.pez_overlayText {
    	font-family: Merriweather,georgia,serif;
    	width: 250px;   height: 95px;    top: 70px;
	}
}